extends layout

block main
  p.
    Tegen jullie zeggen wij: ‘Wees vrij!’. 

  p.
    Stel je eens voor dat je een vis was. Dan vraag je je toch niet af wat
    water is? Nee, dan zwem je juist lekker rond. Dus, wees vrij!
