@import nib

$width = 960px
$header-height = 270px
$menu-height = 30px
$footer-height = 30px

$color1 = #ec1b23

global-reset()

.color1
  background-color $color1
  color #ffffff
  
.color2
  background-color #eeeeee
  color #ffffff

.color3
  color #333333

.color4
  background-color #ffffff
  color #000000

a
  color inherit
  text-decoration none

html, body
  height 100%

body
  background-image url(/x/misc/bg.png)
  font-family arial, sans-serif

  > header
    background-color #dddddd
    background linear-gradient(left, lighten($color1, 40), lighten($color1, 50))
    height $header-height + $menu-height
    left 50%
    margin-left (- $width / 2)
    position absolute
    top 0
    width $width
    z-index 1

    > .title
      position relative

      h1
        color $color1
        font-weight bold
        font-size 60px
        padding 30px 10px
      
      .logo
        float right

    .target
      left 0
      margin 5px 10px
      top 100px
      position absolute
      width 100%
      
      li a
        @extend .color2
        border 1px solid #ffffff
        box-shadow 3px 3px 5px #cccccc
        cursor pointer
        float left
        height 130px
        margin 5px
        padding 10px
        position relative
        width 203px

        &.kids {background-image: url(/x/misc/kids.jpg)}
        &.ouders {background-image: url(/x/misc/ouders.jpg)}
        &.docenten {background-image: url(/x/misc/docenten.jpg)}
        &.sponsors {background-image: url(/x/misc/sponsors.jpg)}
        
        .title
          bottom 5px
          color #ffffff
          font-weight bold
          position absolute
          text-align center
          width 100%

    > .menu
      @extend .color1
      bottom 0
      height $menu-height
      left 0
      position absolute
      width 100%
      
      li
        float left
        font-weight bold
        line-height $menu-height
        margin-left 20px
        margin-right 10px

  > .main
    @extend .color4
    background-attachment fixed
    background-image url(/x/misc/background.jpg)
    background-position 50% ($header-height + $menu-height + 50)
    background-repeat no-repeat
    box-shadow 0 0 6px #858585
    min-height 100%
    margin-left auto
    margin-right auto
    position relative
    width $width
    
    > *
      margin-left 20px
      margin-right 20px
    
    > *:first-child
      padding-top ($header-height + $menu-height + 10)
    
    > *:last-child 
      padding-bottom ($footer-height + 10)
    
    p
      padding  10px 0
      text-align justify
    
    h1, h2
      font-weight bold
    
    h1
      font-size 1.3em
      padding-top 20px
    
    h2
      font-size 1.2em
      padding-top 10px

  > footer
    @extend .color1
    height $footer-height
    margin-left auto
    margin-right auto
    margin-top (- $footer-height)
    position relative
    width $width
    
    ul
      text-align center
      
      li
        color #dddddd
        display inline
        font-size 0.8em
        line-height $footer-height
        margin 0 30px

