!!!
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{locals.title || 'Stichting Doen en Laten'}
    link(rel="stylesheet", type="text/css", href="/#{build}/style.css")
  body
    header
      .title
        a.logo(href="/"): img(src="/x/project/logo.png",alt="logo")
        h1 Stichting Doen en Laten
      .target
        ul
          li
            a.ouders(href="/ouders")
              span.title Ouders
          li
            a.docenten(href="/docenten")
              span.title Docenten
          li
            a.kids(href="/kids")
              span.title Kids
          li
            a.sponsors(href="/sponsors")
              span.title Sponsors
      nav.menu
        ul
          li: a(href="/") Home          
          li: a(href="/organisatie")  Organisatie
          li: a(href="/workshops") Workshops
          li: a(href="/shop") Shop
          li: a(href="/nieuws") Nieuws
          li: a(href="/contact") Contact
    .main
      block main
    aside
      block sidebar
    footer
      ul
        li: a(href="/disclaimer") Disclaimer
        li: a(href="/privacy") Privacy
        li: a(href="/sitemap") Sitemap
