extends layout

block main
  p.
    Om uit een vicieuze cirkel te geraken, gelooft de Stichting Doen en Laten
    in het veranderen van de perceptie. Dit in tegenstelling tot reguliere
    zelfverdedigingworkshops die uitgaan van fysieke middelen om problemen het
    hoofd te bieden. Bij ons draait zelfverdediging om zelfstandigheid,
    zelfbehoud en de daaruit voortvloeiende discipline. Discipline die ervoor
    zorgt dat leerlingen niet van het juiste pad afwijken.

  p.
    Zo had een steenhouwer steeds de verkeerde perceptie waardoor hij in een
    vicieuze cirkel belandde. Op een dag stond hij in een rotsblok te hakken,
    genietend van de zon. Toen er wolken verschenen, wenste hij dat hij de wolk
    was die hem het zicht op de zon ontnam. Daarna werd de wolk door de wind
    verdreven en wenste hij dat hij de wind was die wolk weg blies. Vervolgens
    waaide de wind hard tegen een rotsblok aan waardoor hij wenste dat hij het
    rotsblok was en zo geen pijn zou hebben. Toen hij eenmaal was veranderd in
    een rotsblok zag hij in de verte een steenhouwer aan komen lopen met een
    grote hamer en beitel in zijn handen…
