extends layout

block main
  h2 Doel
  p.
    De stichting Doen en Laten wil op een doelgerichte wijze werken aan het
    bevorderen van bewustwording, vaardigheden en positief gedrag bij jongeren.
    Dit zodat de doelgroep leert om in uiteenlopende situaties te kunnen
    reageren en handelen op een manier die voor hen veilig voelt en bijdraagt
    aan het beoogde doel. 

  p.
    Stichting Doen en Laten doet dit door op een pedagogische verantwoorde
    wijze en methodisch te werken aan de gedragsverandering middels het
    aanbieden van Aikido workshops, voorlichting aan jongeren individueel en
    verenigingen, scholen, naschoolse opvangen etcetera. De stichting heeft een
    ideëel doel en dus geen winstoogmerk.

  h2 Aikido = Doen en Laten
  p.
    Aikido is een manier van communiceren, een dans. Een manier van doen maar
    nog meer van laten. Een manier van zijn en een manier van niet zijn. Blijf
    in balans en word het centrum van alle bewegingen. Leer jezelf te
    controleren en controleer wat er op je afkomt. Aikido kenmerkt zich door
    een geweldloos karakter, samenwerking, plezier en laagdrempeligheid.

  h2 Bestuur
  p.
    Het bestuur van de stichting bestaat uit:
  dl
    dt Dennis van Rooijen
    dd voorzitter
    dt Ayhan Gunduz
    dd penningmeester
    dt Jeroen Rooders
    dd secretaris
