extends layout

block main
  p.
    Stichting Doen en Laten ziet het groeiproces van een kind als een
    waterstroom die steeds groter wordt. Daarbij ontspringt de waterstroom bij
    een gletsjer om daarna zijn weg te vinden naar een beekje. De waterstroom
    wint aan kracht en snelheid wanneer hij vanuit het beekje de rivier heeft
    bereikt. De rivier op zijn beurt wordt steeds groter en stroomt steeds
    sneller om tenslotte uit te monden in de oceaan.

  p.
    Stichting Doen en Laten gelooft daarom niet in het opwerpen van een dam die
    de waterstroom aan kracht en snelheid doet inboeten. Wij zijn van mening
    dat de groei die een waterstroom ondergaat, oprecht gestimuleerd moet
    worden zonder daarbij vande juiste baan af te wijken. 

