extends layout

block main
  h1 PRIVACY STATEMENT

  p.
    De bescherming van uw persoonsgegevens is van belang! Wij respecteren uw
    persoonlijke levenssfeer en dragen er zorg voor dat de persoonlijke
    informatie die u eventueel via deze website aan ons verschaft of die reeds
    in ons bezit is, vertrouwelijk en in overeenstemming met de Wet
    Bescherming Persoonsgegevens wordt behandeld.

  p.
    U kunt deze website anoniem raadplegen.

  p.
    Indien u via deze site een (online)dienst afneemt, vragen wij naar uw
    (bedrijfs)naam, telefoonnummer en (e-mail)adres. Deze gegevens gebruiken
    wij om die dienst te verlenen en te administreren, en voorts om u van tijd
    tot tijd te informeren over onze dienstverlening. Wij verstrekken geen
    persoonsgegevens aan derden, tenzij wij daartoe verplicht zijn op grond
    van de wet of een rechterlijke uitspraak.
  
  p.
    Daarnaast kunnen wij u vragen om gegevens m.b.t. uw werk, functie, leeftijd
    en interesses. Deze gegevens gebruiken wij om u nog beter van dienst te
    kunnen zijn.

  p.
    Om technische en operationele redenen kan het nodig zijn dat
    persoonsgegevens worden doorgegeven naar servers in de Verenigde Staten of
    andere landen buiten de E.U.. In dat geval nemen wij passende maatregelen
    om te waarborgen dat uw gegevens zo goed mogelijk worden beschermd.
