extends layout

block main
  p.
    Met diverse instanties wil Doen en Laten projecten opstarten, workshops
    verzorgen om zo jongeren met een (specifieke) behoefte via de krijgskunst
    Aikido te begeleiden. Stichting Doen en Laten vormt een aanvulling op de
    bestaande welzijnswerk/ hulpverlening. Aikido en de daaruit voortvloeiende
    kennis en vaardigheden, wordt als een middel gebruikt om de jongeren te
    bereiken en met hen te werken aan de uiteenlopende doelen. Dat doet
    Stichting Doen en Laten door de elementen uit Aikido te verwerken in
    werkvormen die niet alleen gericht zijn op de krijgskunst, maar ook op de
    interactie. Zo wordt Aikido gecombineerd met een gedrags- en
    communicatietraining. In de basis wordt altijd gewerkt aan het bevorderen
    van zelfvertrouwen en een positief zelfbeeld. 

  p.
    Steun ons en informeer hier naar de mogelijkheden!
