extends layout

block main
  section
    h1 Een workshop Aikido
    p.
      Een verrijking voor een ieder om eens met deze plezierige
      manier van bewegen in contact te komen.
    section
      p.
        Waarom aikido en een workshop? Niet veel krijgskunsten zijn
        geschikt voor een workshop en zeker geen “vechtsporten”. Denk
        aan de blessuregevoeligheid die vechtsporten met zich meebrengt
        en geweld met geweld beantwoorden leidt tot niets. Een krijgskunst
        is absoluut geen vechtsport. Aikido is een unieke krijgskunst. De
        bij aikido verplichte samenwerking maakt de beoefening zeer
        laagdrempelig. Aikido kent geen andere competitie dan die met jezelf.
        Aikido is een unieke krijgskunst die draait om de liefde voor jezelf,
        je omgeving en het streven om met die omgeving in harmonie te leven.
        Daarom kan het met iedereen gedeeld worden. Tijdens aikido moet je met
        iedereen samenwerken en de beoefening heeft een geweldloos karakter.
        Aikido geeft aan een ieder een betere balans, coördinatie, concentratie,
        een verbeterde gezond- en fitheid, verbeterde communicatieve vaardigheden
        en zelfvertrouwen. Juist in deze tijd zeer waardevolle eigenschappen.
        Gecontroleerd leren omgaan met druk, agressie, onbalans en het leren vallen
        en opstaan. Uiteraard om de gevonden vaardigheden, inzichten te gebruiken
        ter verbetering van  ieders dagelijks leven. Leer om het maximale uit alle
        omstandigheden te halen. Een ieder op zijn eigen tempo en niveau. 
      p.
        Dit maakt aikido uiterst geschikt om juist dat extra uit een krijgskunst
        middels een workshop met een ieder te delen. Ik ben ervan overtuigd dat
        een korte kennismaking met deze kunst genoeg is om de aikidospirit mee
        te geven.  
    section
      h2 Het idee achter een Aikido workshop
      p.
        Aikido een manier van communiceren, een effectieve krijgskunst,
        een dans. Een manier van doen maar nog meer van laten. Een manier
        van zijn en een manier van niet zijn. Blijf in balans word  het
        centrum van alle bewegingen. Leer jezelf te controleren en
        contoleer wat er op je afkomt.   
      p.
        De voordelen van voldoende beweging en sporten zijn voor een werkgever
        algemeen bekend. Verbetering van het zelfbewustzijn, relatiebewustzijn en
        organisatie bewustzijn zult u ook niet afwijzen. Mijn naam is Alois Tetelepta,
        docent aikido en dojohouder. Specifiek voor het bedrijfsleven heb ik een
        aikidoworkshop ontwikkeld, die de houding, instelling en prestaties van een
        ieder positief beïnvloedt.
      p.
        Dit  maakt aikido uiterst geschikt om juist dat extra uit een krijgskunst
        middels een workshop met een ieder te delen. Ik ben ervan overtuigd dat een
        korte kennismaking met deze kunst genoeg is om de aikidospirit mee te geven.
    section
      h2 De manier van trainen
      p.
        Aikido trainingen kenmerken zich door de samenwerking, het geweldloze karakter
        en de daarmee gepaarde plezier en laagdrempeligheid.
      p.
        Aikido is een Japanse bewegingskunst en destijds afgeleid uit samoerai
        gevechtstrainingen. Hoewel aikido een krijgskunst is waar het schadelijke
        element is uitgehaald, train je van oorsprong beschadigende technieken.
        Hierdoor wordt men bewust van zijn eigen verantwoordelijkheid en discipline.
        Door middel van eenvoudige bewegingen met een partner wordt het proces van
        actie en reactie tastbaar gemaakt. Bij aikido staat het verband tussen houding,
        instelling en techniek centraal. Tijdens de beoefening is de verbinding tussen
        de geestelijke en lichamelijke balans duidelijk zichtbaar. Je merkt snel dat
        wanneer je te gespannen bent, je overvallen wordt door een situatie en wanneer
        je te ontspannen bent je kansen voorbij laat gaan. Een goede balans is belangrijk.
      p.
        De beoefening van een krijgskunst is een zeer persoonlijke weg. Die leerweg wordt
        binnen aikido bereikt door middel van samenwerking met partners waardoor de
        teamgeest wordt versterkt. Je leert met elkaar en van elkaar, waardoor het
        onderlinge vertrouwen wordt vergroot. 
      p.
        Dit  maakt aikido uiterst geschikt om juist dat extra uit een krijgskunst middels
        een workshop met een ieder te delen. Ik ben ervan overtuigd dat een  korte kennismaking
        met deze kunst genoeg is om de aikidospirit mee te geven.  
    section
      h2 De basis van een Aikido workshop
      p.
        Vanwege de oorsprong van de technieken, train je die dingen die
        doorslaggevend zijn binnen een gevecht van leven en dood. Op een dergelijk
        moment draait het enkel nog om de inhoud. Zeker niet meer om de buitenkant/uiterlijk vertoon.
        Instelling, ego en balans dat zijn basis begrippen binnen deze krijgskunst.
      p.
        Een van de mooiste Budo-vormen is Aikido, een Japanse krijgskunst gebaseerd
        op een filosofie van geweldloosheid en harmonie. Ontstaan uit de oude
        tradities en vaardigheden van de Japanse samoerai, kenmerkt Aikido zich niet
        alleen door zijn filosofie van geweldloosheid, maar ook door de geweldloze
        manier van oefenen. Fysieke kracht wordt tot een minimum beperkt, terwijl
        soepelheid, dynamiek, flexibiliteit en innerlijke kracht worden gestimuleerd
        De grondlegger van aikido, Ueshiba Morihei O sensei, verdiepte zich zijn leven
        lang in de Japanse krijgskunsten, in Shinto en in filosofie. Voor hem betekende
        Budo (de weg van de krijgskunst) meer dan het leren van zelfverdedigingstechnieken.
        Hij beschouwde budo als een spirituele levenswijze, een weg naar vrede, innerlijk
        evenwicht en eenwording met de natuur.
      p.
        Na jaren van training, studie en meditatie kwam hij tot een eigen oorspronkelijke
        methode en noemde deze Aikido:
      p
        ul
          li AI: ontmoeting, samenkomen, eenwording, harmonie, liefde.
          li.
            KI: levenskracht, innerlijke energie, geest, - een essentieel onderdeel
            van de oosterse cultuur, welke men onder meer terugvindt in de filosofie,
            geneeskunde, kunst, fysieke training, religie, etc. De volledige betekenis
            ervan wordt pas duidelijk door eigen ervaring.
          li DO: tao, weg, pad, in de zin van levensweg, de natuurlijke weg.
      p.
        Aikido is in zijn algemeenheid enigszins te vergelijken met yoga of Tai chi chuan.
        Het is echter veelzijdiger en vooral dynamischer van aard. Het merendeel van de
        technieken wordt met een partner beoefend. De aikidoka leert om geen weerstand te
        bieden, maar zich flexibel op te stellen en zich voortdurend aan te passen. Grepen
        en worpen worden vloeiend en circulair uitgevoerd en lijken op dansachtige bewegingen.
        Hierdoor ontstaat er tussen beide aikidoka een eenheid in plaats van een "gevecht".
      p.
        Ondanks, of misschien juist dankzij het geweldloze karakter, geldt Aikido als een
        zelfverdedigingsmethode. Aikido maakt daarom onder andere deel uit van de
        basistraining van de Japanse politie.
      p.
        Aikido heeft in de loop der jaren een inspirerende invloed uitgeoefend op andere
        krijgskunsten, op zelfverdedigings methoden, maar ook op disciplines als dans- en
        theaterkunst. Wereldwijd kent Aikido inmiddels meer dan een miljoen enthousiaste
        beoefenaars. Aikido kan een leven lang boeien: "Aikido is wijds als de natuur;
        hoe verder men vordert op de weg hoe meer men voor zich uit ziet" stelde de
        grondlegger Ueshiba Morihei, die op 86-jarige leeftijd nog steeds op
        indrukwekkende wijze les gaf. 
    section
      p.
        Graag geef ik u een vrijblijvende presentatie om u te overtuigen van de
        voordelen van deze workshop en nodig u bij deze dan ook uit om persoonlijk
        kennis te maken met aikido in mijn dojo.
