extends layout

block main
  div Aikido is geen sport maar een kunst
  p
    | De unieke krijgskunst Aikdio is geinspireerd op de technieken van de
    | Japanse samoerai en krijgskunsten als 
    strong Daito ryu jiu jitsu, jiujitsu 
    | en 
    strong kenjutsu
    | . Daarnaast is er ook een morele waarde toe gevoegd aan de kunst van
    | aikido. De beoefenaar (aikidoka) traint zijn of haar lichaam en geest ter
    | verbetering van zichzelf, om zichzelf te overwinnen. Iemand die een
    | aikidoka aanvalt, wordt niet in de eerste plaats gezien als tegenstander,
    | maar als iemand met wie men in harmonie moet proberen te komen. Deze
    | harmonie kan bereikt worden, door de aanval op een gepaste wijze
    | onschadelijk te maken. Gesteld kan worden dat de aikido beoefenaar leert
    | wat op welk moment de juiste handeling is. Op een dergelijk moment draait
    | het enkel nog om de inhoud. Zeker niet meer om de buitenkant/uiterlijk
    | vertoon. Instelling, leren loslaten en geestelijke balans zijn basis
    | begrippen binnen deze krijgskunst. Aikido is geen sport maar een kunst.
    | Een kunst die uitgaat van het positieve en die geen winnaars of
    | verliezers kent.

  p.
    Informeer hier naar de mogelijkheden voor een workshop bij u op school of
    op het werk.
